h1{
    text-align: center;
}
.container{
    text-align: center;
    padding: 100px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    gap: 30px;
}
html,body{
    background-color:bisque;
    margin: 50px;
    border: 50px;
    gap: 30px;
    
}
.button{
    color: lightcoral;
}
.p{
    font-size: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.colorinput{
    font-size: 20px;
    padding: 20px;
    margin: 30px;
}
.Applybutton{
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}
.Randombutton{
    font-size: 20px ;
    margin:20px ;
    padding: 20px;
}